mailingSHARK~=2.0.2
mock~=5.1.0
requests~=2.31.0
bs4~=0.0.1
beautifulsoup4~=4.12.2
mongoengine~=0.23.1
pycoshark @ git+https://github.com/smartshark/pycoSHARK.git@2.0.0
setuptools~=60.2.0
deepdiff~=6.6.0